<!--<div id="mauticform_wrapper_fitked" class="mauticform_wrapper form-cover">-->
    <!--<form autocomplete="false" role="form" method="post" action="http://software.boundstart.ru/form/submit?formId=21" id="mauticform_fitked" data-mautic-form="fitked">-->
        <!--<div class="mauticform-error" id="mauticform_fitked_error"></div>-->
        <!--<div class="mauticform-message" id="mauticform_fitked_message"></div>-->
        <!--<div class="mauticform-innerform">-->


            <!--<div class="mauticform-page-wrapper mauticform-page-1" data-mautic-form-page="1">-->

                <!--<div id="mauticform_fitked_ima" class="mauticform-row mauticform-text mauticform-field-1 mauticform-required item-cover name-cover" data-validate="ima" data-validation-type="text">-->
                    <!--<input id="mauticform_input_fitked_ima" name="mauticform[ima]" value="" placeholder="Имя*" class="mauticform-input form-item form-name" type="text" />-->
                    <!--<span class="mauticform-errormsg" style="display: none;">Обязательное поле</span>-->
                <!--</div>-->

                <!--<div id="mauticform_fitked_email" class="mauticform-row mauticform-email mauticform-field-2 mauticform-required item-cover email-cover" data-validate="email" data-validation-type="email">-->
                    <!--<input id="mauticform_input_fitked_email" name="mauticform[email]" value="" placeholder="E-mail*" class="mauticform-input form-item form-email" type="email" />-->
                    <!--<span class="mauticform-errormsg" style="display: none;">Обязательное поле</span>-->
                <!--</div>-->

                <!--<div id="mauticform_fitked_phone" class="mauticform-row mauticform-tel mauticform-field-3 mauticform-required item-cover phone-cover" data-validate="phone" data-validation-type="tel">-->
                    <!--<input id="mauticform_input_fitked_phone" name="mauticform[phone]" value="" placeholder="Тел.*" class="mauticform-input form-item form-phone" type="tel" />-->
                    <!--<span class="mauticform-errormsg" style="display: none;">Обязательное поле</span>-->
                <!--</div>-->

                <!--<div id="mauticform_fitked_ucastvovat" class="mauticform-row mauticform-button-wrapper mauticform-field-4 item-cover button-cover">-->
                    <!--<button type="submit" name="mauticform[ucastvovat]" id="mauticform_input_fitked_ucastvovat" name="mauticform[ucastvovat]" value="" class="mauticform-button form-item form-button-2" value="1">Участвовать</button>-->
                <!--</div>-->
                <!--<div id="mauticform_fitked_f_check" class="mauticform-row mauticform-checkboxgrp mauticform-field-5 mauticform-required form-checkbox-cover" data-validate="f_check" data-validation-type="checkboxgrp">-->
                    <!--<label id="mauticform_checkboxgrp_label_f_check_true0" for="mauticform_checkboxgrp_checkbox_f_check_true0" class="mauticform-checkboxgrp-label form-checkbox-label">-->
                        <!--<input  class="mauticform-checkboxgrp-checkbox form-checkbox" name="mauticform[f_check][]" id="mauticform_checkboxgrp_checkbox_f_check_true0" type="checkbox" value="true" checked="checked" />-->
                        <!--Ознакомился и согласен с <a href="rules.html" target="_blank">условиями конкурса*</a>-->
                    <!--</label>-->
                    <!--<span class="mauticform-errormsg" style="display: none;">Обязательное условие</span>-->
                <!--</div>-->

                <!--<input id="mauticform_input_fitked_f_fitked" name="mauticform[f_fitked]" value="fitked" class="mauticform-hidden" type="hidden" />-->
            <!--</div>-->
        <!--</div>-->

        <!--<input type="hidden" name="mauticform[formId]" id="mauticform_fitked_id" value="21"/>-->
        <!--<input type="hidden" name="mauticform[return]" id="mauticform_fitked_return" value=""/>-->
        <!--<input type="hidden" name="mauticform[formName]" id="mauticform_fitked_name" value="fitked"/>-->
    <!--</form>-->
<!--</div>-->


<div id="mauticform_wrapper_beautybar" class="mauticform_wrapper form-cover">
    <form autocomplete="false" class="form-block" role="form" method="post" action="https://software.boundstart.ru/form/submit?formId=22" id="mauticform_beautybar" data-mautic-form="beautybar">
        <div class="mauticform-error" id="mauticform_beautybar_error"></div>
        <div class="mauticform-message" id="mauticform_beautybar_message"></div>
        <div class="mauticform-innerform">


            <div class="mauticform-page-wrapper mauticform-page-1" data-mautic-form-page="1">

                <div id="mauticform_beautybar_ima" class="mauticform-row mauticform-text mauticform-field-1 mauticform-required item-cover name-cover" data-validate="ima" data-validation-type="text">
                    <input id="mauticform_input_beautybar_ima" name="mauticform[ima]" value="" placeholder="Имя*" class="mauticform-input form-item form-name" type="text" />
                    <span class="mauticform-errormsg" style="display: none;">Обязательное поле</span>
                </div>

                <div id="mauticform_beautybar_email" class="mauticform-row mauticform-email mauticform-field-2 mauticform-required item-cover email-cover" data-validate="email" data-validation-type="email">
                    <input id="mauticform_input_beautybar_email" name="mauticform[email]" value="" placeholder="E-mail*" class="mauticform-input form-item form-email" type="email" />
                    <span class="mauticform-errormsg" style="display: none;">Обязательное поле</span>
                </div>

                <div id="mauticform_beautybar_phone" class="mauticform-row mauticform-tel mauticform-field-3 mauticform-required item-cover phone-cover" data-validate="phone" data-validation-type="tel">
                    <input id="mauticform_input_beautybar_phone" name="mauticform[phone]" value="" placeholder="Тел.*" class="mauticform-input form-item form-phone" type="tel" />
                    <span class="mauticform-errormsg" style="display: none;">Обязательное поле</span>
                </div>

                <div id="mauticform_beautybar_ucastvovat" class="mauticform-row mauticform-button-wrapper mauticform-field-4 item-cover button-cover">
                    <button type="submit" name="mauticform[ucastvovat]" id="mauticform_input_beautybar_ucastvovat" name="mauticform[ucastvovat]" value="" class="mauticform-button form-item form-button-2" value="1">Участвовать</button>
                </div>
                <div id="mauticform_beautybar_f_check" class="mauticform-row mauticform-checkboxgrp mauticform-field-5 mauticform-required form-checkbox-cover" data-validate="f_check" data-validation-type="checkboxgrp">
                    <label id="mauticform_checkboxgrp_label_f_check_true0" for="mauticform_checkboxgrp_checkbox_f_check_true0" class="mauticform-checkboxgrp-label form-checkbox-label">
                        <input  class="mauticform-checkboxgrp-checkbox form-checkbox" name="mauticform[f_check][]" id="mauticform_checkboxgrp_checkbox_f_check_true0" type="checkbox" value="true" checked="checked" />
                        *Заполняя форму, Вы соглащаетесь с <a href="/privacy">политикой конфиденциальности</a>
                    </label>
                    <span class="mauticform-errormsg" style="display: none;">Обязательное условие</span>
                </div>

                <input id="mauticform_input_beautybar_f_beautybar" name="mauticform[f_beautybar]" value="beautybar" class="mauticform-hidden" type="hidden" />
            </div>
        </div>

        <input type="hidden" name="mauticform[formId]" id="mauticform_beautybar_id" value="22"/>
        <input type="hidden" name="mauticform[return]" id="mauticform_beautybar_return" value=""/>
        <input type="hidden" name="mauticform[formName]" id="mauticform_beautybar_name" value="beautybar"/>
    </form>
</div>
