<!--TODO::change everything except app_id and type-->

<meta property="og:url"           content="https://zagar-msk.ru" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content='Студия загара «Кожа» г. Москва Мичуринский проспект 16'>
<meta property="og:description"   content='Шоколадный оттенок кожи – настоящая мечта многих девушек! Мы поможем Вам осуществить эту мечту!'>
<meta property="og:image"         content="https://zagar-msk.ru/img/images/og-image-1.jpg" />
<meta property="og:locale"        content="ru_RU" />
<meta property="fb:app_id"        content="143481576358898" />