<div id="mauticform_wrapper_kozhasubscribepromo" class="mauticform_wrapper form-cover">
    <form autocomplete="false" role="form" class="form-block" method="post" action="https://software.boundstart.ru/form/submit?formId=29" id="mauticform_kozhasubscribepromo" data-mautic-form="kozhasubscribepromo">
        <div class="mauticform-error" id="mauticform_kozhasubscribepromo_error"></div>
        <div class="mauticform-message" id="mauticform_kozhasubscribepromo_message"></div>
        <div class="mauticform-innerform">


            <div class="mauticform-page-wrapper mauticform-page-1" data-mautic-form-page="1">

                <div id="mauticform_kozhasubscribepromo_ima" class="mauticform-row mauticform-text mauticform-field-1 mauticform-required item-cover name-cover" data-validate="ima" data-validation-type="text">
                    <input id="mauticform_input_kozhasubscribepromo_ima" name="mauticform[ima]" value="" placeholder="Имя*" class="mauticform-input form-item form-name" type="text" />
                    <span class="mauticform-errormsg" style="display: none;">Обязательное поле</span>
                </div>

                <div id="mauticform_kozhasubscribepromo_email" class="mauticform-row mauticform-email mauticform-field-2 mauticform-required item-cover email-cover" data-validate="email" data-validation-type="email">
                    <input id="mauticform_input_kozhasubscribepromo_email" name="mauticform[email]" value="" placeholder="E-mail*" class="mauticform-input form-item form-email" type="email" />
                    <span class="mauticform-errormsg" style="display: none;">Обязательное поле</span>
                </div>

                <div id="mauticform_kozhasubscribepromo_phone" class="mauticform-row mauticform-tel mauticform-field-3 mauticform-required item-cover phone-cover" data-validate="phone" data-validation-type="tel">
                    <input id="mauticform_input_kozhasubscribepromo_phone" name="mauticform[phone]" value="" placeholder="Тел.*" class="mauticform-input form-item form-phone" type="tel" />
                    <span class="mauticform-errormsg" style="display: none;">Обязательное поле</span>
                </div>

                <div id="mauticform_kozhasubscribepromo_ucastvovat" class="mauticform-row mauticform-button-wrapper mauticform-field-4 item-cover button-cover">
                    <button type="submit" name="mauticform[ucastvovat]" id="mauticform_input_kozhasubscribepromo_ucastvovat" name="mauticform[ucastvovat]" value="" class="mauticform-button form-item form-button-2" value="1">Записаться на сеанс</button>
                </div>
                <div class="inline-fake"></div>
                <p class="form-comment">*Заполняя форму, Вы соглащаетесь с <a href="/privacy">политикой конфиденциальности</a></p>
                <input id="mauticform_input_kozhasubscribepromo_kozha" name="mauticform[kozha]" value="Kozha" class="mauticform-hidden" type="hidden" />
            </div>
        </div>

        <input type="hidden" name="mauticform[formId]" id="mauticform_kozhasubscribepromo_id" value="29"/>
        <input type="hidden" name="mauticform[return]" id="mauticform_kozhasubscribepromo_return" value=""/>
        <input type="hidden" name="mauticform[formName]" id="mauticform_kozhasubscribepromo_name" value="kozhasubscribepromo"/>
    </form>
</div>



