<div class="timer-cover">
    <p class="timer-comment">до конца конкурса осталось:</p>
    <div class="content-block_timer" id="js-timer">

        <div class="timer-item">
            <span class="days number ">00</span>
            <span id="days-text" class="text">дней</span>
        </div>
        <div class="timer-item">
            <span class="hours number">00</span>
            <span id="hours-text" class="text">часов</span>
        </div>
        <div class="timer-item">
            <span class="minutes number ">00</span>
            <span id="minutes-text" class="text">минут</span>
        </div>
        <div class="timer-item">
            <span class="seconds number">00</span>
            <span id="seconds-text" class="text">секунд</span>
        </div>
        <div class="inline-fake"></div>
    </div>
</div>